body {
  background-color: #393E46;
}

h1, h2{
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

h2 {
  color: white;
  font-size: 4rem;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
  position: relative;
  margin: 10px auto;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice-image {
  text-align: center;
  display: inline-block;

}

.dice {
  display: inline-block;
  width: 30%;
}

.dice .player1 {
  text-align: left;
  width: 100%;

}

.dice .player2 {
  width: 120%;
  margin: 0 130px;
  text-align: left;
}

.player-name {
  color: white;
  font-weight: bold;
}

.myButton {
  box-shadow: 0px 0px 0px 0px #3dc21b;
  background: linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
  background-color: #44c767;
  border-radius: 25px;
  border: 1px solid #4ecca2;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 25px;
  padding: 11px 51px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  margin: 10px 15px;
}

.myButton:hover {
  background: linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
  background-color: #5cbf2a;
}

.myButton:active {
  position: relative;
  top: 1px;
}

.winner{
  background-color: yellow;
  opacity: 0.5;
}

.round-over{
  background-color: red;
  opacity: 0.75;
}